
		 <h1 id="headline">Tournament</h1>
		 <p class="year"><i class="fa fa-star"></i> 2017 <i class="fa fa-star"></i></p>
     
   
	


	<section id="bracket">
	<div class="container">
	<div class="split split-one">
		<div class="round round-one current">
			<div class="round-details">Round 1<br/></div>
			<ul class="matchup">
				
				<li class="team team-bottom left">Brazil<span class="score"></span></li>
			</ul>
			<ul class="matchup">
				<li class="team team-top left">Congo<span class="score"></span></li>
				
			</ul>
			<ul class="matchup">
				
				<li class="team team-bottom left">China<span class="score"></span></li>
			</ul>
			<ul class="matchup">
				<li class="team team-top left">France<span class="score"></span></li>
			
			</ul>			
			<ul class="matchup">
				<li class="team team-top left">Japan<span class="score"></span></li>
				
			</ul>	
			<ul class="matchup">
				<li class="team team-top left">United Kingdom<span class="score"></span></li>
			
			</ul>	
			<ul class="matchup">
			
				<li class="team team-bottom left">United States<span class="score"></span></li>
			</ul>
			<ul class="matchup">
				
				<li class="team team-bottom left">Australia<span class="score"></span></li>
			</ul>										
		</div>	<!-- END ROUND ONE -->

		<div class="round round-two">
			<div class="round-details left">Round 2<br/></div>			
			<ul class="matchup">
				<li class="team team1 left">&nbsp;<span class="score">&nbsp;Brazil</span></li>
			
			</ul>	
			<ul class="matchup">
				<li class="team team2 left">&nbsp;<span class="score">&nbsp;France</span></li>
			
			</ul>	
			<ul class="matchup">
				
				<li class="team team3 left">&nbsp;<span class="score">&nbsp;Japan</span></li>
			</ul>
			<ul class="matchup">
			
				<li class="team team4 left">&nbsp;<span class="score">&nbsp;United States</span></li>
			</ul>										
		</div>	<!-- END ROUND TWO -->
		
		<div class="round round-three">
			<div class="round-details left">Round 3<br/></div>			
			<ul class="matchup">
				<li class="team team5 left">&nbsp;<span class="score">&nbsp;France</span></li>
			
			</ul>	
			<ul class="matchup">
				<li class="team team6 left">&nbsp;<span class="score">&nbsp;Japan</span></li>
			
			</ul>										
		</div>	<!-- END ROUND THREE -->		
	</div> 

<div class="champion">
		
		<div class="final">
			<i class="fa"></i>
			<div class="round-details win">championship</div>		
			<ul class ="matchup championship">
				<li class="team team7 left">&nbsp;<span class="vote-count">&nbsp;FRANCE</span></li>
				
			</ul>
        </div>
    </div>
   


		<!-- END ROUND ONE -->          				
	
	</div>
	</section>
	<section class="share">
			<div class="share-wrap">
				<a class="share-icon" href="https://twitter.com/basement47"><i class="fa fa-twitter"></i></a>
				<a class="share-icon" href="#"><i class="fa fa-facebook"></i></a>
				<a class="share-icon" href="#"><i class="fa fa-envelope"></i></a>
			</div>
	</section>