<div class="container">

  <nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The HackDev'</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/cats" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-list"></i> Ranking
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/team" class="nav-link" routerLinkActive="active">
            <i class="fa fa-street-view"></i> Team
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/competition" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
            <i class="fa fa-gamepad"></i> Competition
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/podium" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
            <i class="fa fa-trophy"></i> Podium
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-user"></i> Account ({{ auth.currentUser.username }})
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
            <i class="fa fa-lock"></i> Admin
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-sign-out"></i> Logout
          </a>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><img src="/assets/hackers.png" class="hackers"></li>
        
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>