<main class="container">
  <section class="movies" id="movies">
    <h2>Participating countries</h2>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">Brazil</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/br.png" class="imgheight" alt="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">Congo</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/cg.png" class="imgheight" alt="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">China</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/cn.png" class="imgheight" alt="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">France</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/fr.png" class="imgheight" alt="Movie" title="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">Japan</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/jp.png" class="imgheight" alt="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">United Kingdom</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/uk.png" class="imgheight" alt="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">United States</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/us.png" class="imgheight" alt="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <article class="card">
          <header class="title-header">
            <h3 class="country">Australia</h3>
          </header>
          <div class="card-block">
            <div class="img-card">
              <img src="/assets/au.png" class="imgheight" alt="Movie" title="Movie" class="w-100" />
            </div>
            <p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="/cats" class="btn btn-success btn-block">
              <i class="fa fa-list"></i> See the rank!</a>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
<footer class="footer text-muted text-xs-center text-md-left bg-inverse">
  <div class="container">


  </div>
</footer>
