<!-- Carousel -->
<div class="container carousel">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- slideshow -->
    <div class="row">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/ban1.jpg" class="img-fluid" alt="meetup dev">
          <div class="carousel-caption">
            <h3>Berlin 2016</h3>
            <p>USA Wins !</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/assets/ban2.jpg" class="img-fluid" alt="meetup dev">
          <div class="carousel-caption">
            <h3>Amsterdam 2017</h3>
            <p>Japan wins !</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/assets/abcd.jpg" class="img-fluid" alt="meetup dev">
          <div class="carousel-caption">
            <h3 class="year">2018...Will you join us to fight all the World in " LA LOUPE " ???</h3>
            <p class="yearp">Hurry up !</p>
          </div>
        </div>
      </div>

    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<div class="youtube">
  <iframe width="980" height="720" src="https://www.youtube.com/embed/K6uGhKbOv4o?start=23" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>


<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
  </h1>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img src="/assets/INFO.jpg" class="img-fluid" alt="meetup dev">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Resume</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate.
        Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img src="/assets/Register.jpg" class="img-fluid" alt="meetup dev">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Register</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio
        maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img src="/assets/42.jpg" class="img-fluid" alt="meetup dev">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Pourquoi le Hackathon ?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio
        maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  <!-- /.row -->