 <!-- Carousel -->
 <div class="container carousel">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

            <!-- slideshow -->
          <div class="row">  
           <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/ban1.jpg" class="img-fluid" alt="meetup dev">
                <div class="carousel-caption">
                  <h3>Berlin 2016</h3>
                  <p>USA Wins !</p>
                </div>
              </div>

              <div class="carousel-item">
                <img src="/assets/ban2.jpg" class="img-fluid" alt="meetup dev">
                <div class="carousel-caption">
                  <h3>Amsterdam 2017</h3>
                  <p>Japan wins !</p>
                </div>
              </div>

              <div class="carousel-item">
                    <img src="/assets/abcd.jpg" class="img-fluid" alt="meetup dev">
                    <div class="carousel-caption">
                      <h3 class="year">2018...Will you join us to fight all the World in " LA LOUPE " ???</h3>
                      <p class="yearp">Hurry up !</p>
                    </div>
                  </div>
            </div>
            
          </div>
                  <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
        </div>
      </div>

      <div class="youtube">
            <iframe width="810" height="415" src="https://www.youtube.com/embed/K6uGhKbOv4o?start=23" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

     